.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color:#0A1F1D;
  color: white;
  height: 100vh;
  font-family: "Times New Roman";
  background-image: linear-gradient(to top,#cecaca,#030500);
}
.inputism {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.label {
  text-align: left;
}

.input1 {
  width: 30%;
  min-width: 150px;
  height: 30px;
}

.chatgpt {
  width: 40px;
  margin-left: 5px;
}

.generateButton {
  text-align: center;
  align-self: center;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  cursor: pointer;
}

.buttonEle {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.textarea {
  border: 2px solid black;
  outline: none;
}
